/*************Reset-CSS ***************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; outline:none; }
table { border-collapse:collapse; border-spacing:0; outline:none; }
fieldset, img { border:0; outline:none; }
ul { list-style:none; outline:none; }
input { border: none; height: 18px; outline:none; }
a { text-decoration: none; outline:none; }
.clear { clear: both; width: 0px !important;height: 0px !important;float: none !important;}
* { outline:none !important;margin:0;padding: 0; }
img { border:none; outline:none; }
*:focus{outline: none !important;}
h4 {
font-size: 1em;
margin: 1.33em 0;
}
/************fonts*********************/
@font-face {
    font-family: 'Yekan';
    src: url('fonts/b.eot');
    src: url('fonts/b.eot?#iefix') format('embedded-opentype'),
         url('fonts/b.woff') format('woff'),
         url('fonts/b.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato.eot');
    src: url('fonts/Lato.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato.woff') format('woff'),
         url('fonts/Lato.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.auto{
	margin: 0 auto;
}
body{
	background: #a0d8c0;
	overflow-x:hidden; 
}
.font-yekan{
	font-family:'Yekan';
}
.font-Lato{
	font-family: 'Lato';
}
.row-fluid{
	width: 100%;
}
.tel{
	background: url('image/tel.png') no-repeat left;
	margin-top: 0.5%;
}
span.phonenumber{
	color: #fff;
	display: block;
	font-size: 30px;
	float: left;
	padding-left: 9%;
}
section.header{
	color: white;
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
	background:#a0d8c0 url('image/bilding.png') no-repeat center bottom; 
	margin-top: 5%;
	min-height:950px;
}
.lh-lg{
	padding-top: 4%;
}
.tabligh{
	font-size:65px;
	padding-top: 6%;
}
.sendsms{
	font-size:40px;
	padding-top: 5%;

}
.logo{
	margin-top: 20px;
	margin-left:28%;
	margin-right:28%;
}
.mouse{
	text-align: center;
	padding-top: 5%;
}
.mouse img{
	max-width: 30px;
	cursor: pointer;
}
.clouds{
	overflow: hidden;
}
.clouds1{
	position: absolute;
	right: -180px;
	top: 25%;
	z-index: 2;
	animation: ballmoving 90s infinite linear;
	-moz-animation: ballmoving 90s infinite linear;
	-webkit-animation: ballmoving 90s infinite linear;
	animation-delay: 20s;
	-moz-animation-delay: 20s;
	-webkit-animation-delay:20s;
}
.clouds2{
	position: absolute;
	right: -180px;
	top: 29%;
	z-index: 2;
	animation: ballmoving 80s infinite linear;
	-moz-animation: ballmoving 80s infinite linear;
	-webkit-animation: ballmoving 80s infinite linear;
	animation-delay: 7s;
	-moz-animation-delay: 7s;
	-webkit-animation-delay: 7s;

}
.clouds3{
	position: absolute;
	right: -120px;
	top: 20%;
	animation: ballmoving 70s infinite linear;
	-moz-animation: ballmoving 70s infinite linear;
	-webkit-animation: ballmoving 70s infinite linear;

}
.clouds4{
	position: absolute;
	top: 23%;
	right: -115px;
	animation: ballmoving 83s infinite linear;
	-moz-animation: ballmoving 83s infinite linear;
	-webkit-animation: ballmoving 83s infinite linear;
	animation-delay: 13s;
	-moz-animation-delay: 13s;
	-webkit-animation-delay: 13s;
}
section.start-page{
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
	background:url('image/map2.jpg') no-repeat center center;
	background-position-y: 100%;
	background-size: cover;
	min-height:950px;

}
section.newcity-page{
	color: white;
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
	background:url('image/backgray.png') repeat-x center center;
	min-height:950px;
	
}
div.newcitybg{
	background: url('image/city.png') no-repeat center bottom;
	min-height:950px;
	

}
section.customer-page{
	background: #d7d8a0 url('image/people.png') no-repeat center center;
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
	color: white;
	min-height: 950px;
	background-size: cover;
	/*background-position-y: -14%;*/
}
section.contact-page{
	background: #5894a1 url('image/contact.jpg') no-repeat fixed right bottom;
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
	color: white;
	min-height: 950px;

}
.pd-top{
	padding-top:10%;
}
.left-arrow img,
.right-arrow img,
.center-arrow img{
	
	margin-left: 16%;
	margin-right: 16%;
}
.left-arrow p,
.right-arrow p,
.center-arrow p{
	font-size: 30px;
	padding: 6% 4% 0% 4%;
	color: #3a3a3a;
}

.startbtn{
	color: #fff;
	background: #31a59f;
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 0.75% 0% 0.75% 0%;
	font-size: 30px;
	margin-top: 6%;
}
a.startbtn:hover{
	text-decoration: none;
	color: #fff;

}
.town{

	padding-top: 14%;
}
.town p,
.customer p{
	font-size: 45px;
	color: #000;
}

.customer{
	min-height: 700px;
	padding-top: 4.5%;

}
.customer .info1,
.customer .info2
{
	color: #000;
	font-size: 25px;
}
.info1{
	margin-top: 32%;
	margin-bottom: 0 !important;

}
.info2{
	padding-top: 2%;
}
.customer .more-info{
	color: #000;
	font-size: 30px;
	display: block;
	margin-left:14%;
	margin-right:14%;
	border-bottom: 2px solid #000;
}
.customer .more-info:hover{
	text-decoration: none;
}
.free-signup{
	margin-top: 14%;
}
.free-signup a{
	color: #fff;
	background: #31a59f;
	font-size: 25px;
	text-align: center;
	text-decoration: none;
	padding: 1% 0 1% 0;
}
.free-signup a:hover{
	text-decoration: none;
}
.map-address{
	background: url('image/map.jpg') no-repeat;
	width: 43%;
	min-height: 950px;
	float: left;

}
.form{
	float: right;
	width: 57%;
	min-height: 950px;
	border-left: 6px solid #31a59f;
}
.form-content{
	margin-top: 27%;
	margin-right: 15%;
}
.form-content p{
	color: #fff;
	padding-bottom: 3%;
}
@-webkit-keyframes ballmoving{
	0%   { right:-15%;}
	10% {right: -7%;}
	15%{right:0%}
	20{right: 7%}
    25%  {right:14%;}
    30{right: 21%}
    35%  {right:28%;}
    40{right: 35%}
    45%  { right:42%;}
    50{right: 49%}
    55%  { right:56%;}
    60{right: 63%}
    65% { right:70%;}
    70{right: 77%}
    75%{ right:84%;}
    80{right: 91%}
    85%{ right:98%;}
    90{}
    95%{ right:105%;}
    100%{ right:113%;}
}
@-moz-keyframes ballmoving{
	10% {right: -17%;}
	15%{right:0%}
	20{right: 7%}
    25%  {right:14%;}
    30{right: 21%}
    35%  {right:28%;}
    40{right: 35%}
    45%  { right:42%;}
    50{right: 49%}
    55%  { right:56%;}
    60{right: 63%}
    65% { right:70%;}
    70{right: 77%}
    75%{ right:84%;}
    80{right: 91%}
    85%{ right:98%;}
    90{}
    95%{ right:105%;}
    100%{ right:113%;}
}
@media screen and (max-width: 1920){
	.pd-top{
		padding-top:6%;
	}
}
@media screen and (max-width: 1000px) {
	.tabligh{
		font-size: 45px;
	}
	.sendsms{
		font-size: 27px;
	}
	.clouds1{
		top: 14%;
	}
	.clouds2{
		top: 15%;
	}
	.clouds3{
		top: 11%;
	}
	.clouds4{
		top: 12%;
	}
	.left-arrow img,
	.right-arrow img,
	.center-arrow img{
	width: 70%;
	}
	.left-arrow p,
	.right-arrow p,
	.center-arrow p{
		font-size: 22px;
		padding: 3% 6% 0 6%;
	}
	.startbtn{
	font-size: 27px;
	}

	.town{
		padding-top: 20%;
	}
	.town p, .customer p{
		font-size:40px; 
	}
	.customer .more-info{
		font-size:25px; 

	}
	.info1{
		margin-top: 60%;
	}
	.customer .info1, .customer .info2{
		font-size: 20px;
	}
	.free-signup a{
		font-size: 25px;
		margin-left: 28.3333%;
		margin-right: 28.3333%;
	}
}
@media screen and (max-width: 800px) {

	.tabligh{
		font-size: 40px;
	}
	.sendsms{
		font-size: 29px;
	}
	.clouds1{
		top: 12%;
	}
	.clouds2{
		top: 11%;
	}
	.clouds3{
		top: 9%;
	}
	.clouds4{
		top: 10%;
	}
	.town p{
		font-size: 30px;
	}
	.customer .info1, .customer .info2{
		font-size: 21px;
	}
	.customer .more-info{
		font-size: 22px;
	}

}


/*screen between 460px and 768px**********************************************/
@media all and (min-width: 460px) and (max-width:767px){
	.tabligh{
		font-size: 28px;
	}
	.sendsms{
		font-size: 23px;
	}
	section.start-page{
		min-height: 1050px;
	}
	.left-arrow img, .right-arrow img, .center-arrow img{
		width: 20%;
		margin-left: 40%;
		margin-right: 40%;
	}
	.pd-top{
		padding-top: 5%;
	}
	.left-arrow p, .right-arrow p, .center-arrow p{
		font-size: 19px;
	}
	.startbtn{
		margin-left: 37.667%;
		font-size: 20px;
	}
	.town p, .customer p{
		font-size: 23px;
	}
	.customer .info1, .customer .info2{
		font-size: 19px;
	}
	.customer .more-info,.free-signup a{
		font-size: 20px;
	}
	.free-signup a{
		margin-left: 21.333%;
		margin-right: 21.333%;
	}
}


/*screen between 361px and 459px**********************************************/

@media all and (min-width: 361px) and (max-width:459px){
	section.start-page{
		min-height: 1150px;
	}
	.left-arrow img, .right-arrow img, .center-arrow img{
		width: 37%;
		margin-right: 31.5%;
		margin-left: 31.5%;
	}
	.left-arrow p, .right-arrow p, .center-arrow p{
		font-size: 17px;
	}
	.startbtn{
		font-size: 20px;
		margin-left: 38.667%;
		margin-right: 38.667%;		
	}
	.tabligh{
		font-size: 19px;
	}
	.sendsms,
	.customer .more-info,
	.free-signup a{
		font-size: 14px;
	}
	.town p, .customer p{
		font-size: 17px;
	}
	.customer .info1, .customer .info2{
		font-size: 13px;
	}

}


/*screen less than 360px **********************************************/

@media screen and (max-width:360px) {
	section.header,
	section.newcity-page,
	section.customer {
		min-height: 700px;
	}

	.left-arrow img, .right-arrow img, .center-arrow img{
		width: 37%;
		margin-right: 31.5%;
		margin-left: 31.5%;
	}
	.left-arrow p, .right-arrow p, .center-arrow p{
		font-size: 17px;
	}
	.startbtn{
		font-size: 20px;
		margin-left: 38.667%;
		margin-right: 38.667%;		
	}
	.clouds1{
		width: 20%;
	}
	.clouds2{
		width: 19%;
	}
	.clouds3{
		width: 15%;
	}
	.clouds4{
		width: 16%;
	}
	.tabligh{
		font-size: 19px;
	}
	.sendsms,
	.customer .more-info,
	.free-signup a{
		font-size: 14px;
	}
	.town p, .customer p{
		font-size: 17px;
	}
	.customer .info1, .customer .info2{
		font-size: 16px;
	}

	.free-signup a{
		margin-left: 20.333%;
		margin-right: 20.333%;
		height: 35px; 
	}
	.free-signup a{
		padding: 2% 0 2% 0;
	}
}
